@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

.petal {
  position: fixed;
  top: -50px; /* start above screen */
  width: 40px;
  height: 40px;
  background-image: url("/Petal_nobg.png"); /* add a petal image in /public */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  animation: fall 15s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(100px) translateY(50vh) rotate(180deg);
  }
  100% {
    transform: translateX(-50px) translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.full-background {
  background-size: cover; /* or cover, depending on your preference */

  background-repeat: no-repeat;

  height: 100vh; /* force full viewport height */
  width: 100%; /* full width */
}
